.clr-form {
  padding: 0px;
}

.my-nav-bar {
  display: flex;
  align-content: center;
  padding-right: 20px;
}
.my-nav-bar > * {
  margin-left: 10px;
  margin-right: 10px;
}

.clr-vertical-nav {
  background-color: white;
  border-right: 1px solid lightgray;
}

.nav-link.active {
  color: white;
  background-color: hsl(282, 50%, 45%);
}
