
<div class="main-container">
    
    <div class="content-container" [ngStyle]="{'background-color':'#eee', 'border':'none'}">

        
        <div class="content-area" [ngStyle]="{'padding':'5px 30px 5px'}">

            <div class="Nav">
            
                <div class="nav-title">Dashboard</div>
                <div class="nav-bar-icons">
                    <input type="text" id="basic" placeholder="Search..." class="clr-input" />
                    <clr-icon shape="search" id="searchIcon"></clr-icon>
                    <clr-icon shape="grid-view" class="is-solid" size="22"></clr-icon>
                    <clr-icon shape="bell" class="is-solid" size="22"></clr-icon>
                    <clr-icon shape="user" class="is-solid" size="22"></clr-icon>
                </div>
            
            
            </div>
           <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1">
            
            <ul>
                <li *ngFor="let link of sidenavlinks" [ngStyle]="{'list-style-type': 'none', 'margin': '20px'}">
                    <a clrVerticalNavLink [routerLink]="[link.url]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"
                        [ngStyle]="{'border-radius': '3px', 'font-size': '14px', 'height':'45px', 'line-height':'45px', 'padding-left':'25px'}">
                    
                        <clr-icon [attr.shape]="link.icon" [attr.class]="link.iconClass" size="22" [ngStyle]="{'margin-right':'10px'}"></clr-icon>
                        {{link.name}}
                        
                    </a>  
                </li>
            </ul>
            
        </clr-vertical-nav>
  
    </div>
</div>