
<div class="card">
    <div class="card-header" >
        Tasks:
        <ul>
            <li *ngFor="let type of taskTypes" [ngStyle]="{'list-style-type': 'none', 'display': 'inline'}">
                <clr-icon [attr.shape]="type.icon" [attr.class]="type.iconClass" size="22"></clr-icon>
                {{type.title}}
            </li>
        </ul>
    </div>

    <div class="card-block">
        <div class="clr-row"
            *ngFor="let task of taskCardInfo; index as i"
            [ngStyle]="{'border-bottom': (i==taskCardInfo.length-1? 'none' : '1px solid lightgray')}">
            <div class="clr-col-1">
                <input type="checkbox" clrCheckbox />
            </div>
            <div class="clr-col-9">
                {{  task.name }}
            </div>
            <div class="clr-col-1">
                <clr-icon shape="pencil" class="is-solid" style="color:#9e57bc"></clr-icon>
            </div>
            <div class="clr-col-1">
                <clr-icon shape="times" style="color:red"></clr-icon>
            </div>
        </div>
    
    </div>
    
</div>