<div class="card">
    <div class="card-header">
        Tasks:
        <clr-icon shape="bug" class="is-solid"></clr-icon>
        Bugs
        <clr-icon shape="code"></clr-icon>
        Website
        <clr-icon shape="cloud"></clr-icon>
        Server
    </div>

    <div class="card-block">

        <div class="card-block">
            
            <div class="clr-row">
                <div style="width: 100%" class="clr-col-1">
                    <input type="checkbox" clrCheckbox />
                </div>
                <div class="clr-col-9">
                    Sign contract for "What are conference organizers afraid of?"
                </div>
                <div class="clr-col-1">
                    <clr-icon shape="pencil" class="is-solid" style="color: hsl(282, 43%, 54%)"></clr-icon>
                </div>
                <div class="clr-col-1">
                    <clr-icon shape="times" style="color:red"></clr-icon>
                </div>
            </div>
            <div class="clr-row">
                <div style="width: 100%" class="clr-col-1">
                    <input type="checkbox" clrCheckbox />
                </div>
                <div class="clr-col-9">
                    Lines From Great Russian Literature? Or E-mails From My Boss?
                </div>
                <div class="clr-col-1">
                    <clr-icon shape="pencil" class="is-solid" style="color: hsl(282, 43%, 54%)"></clr-icon>
                </div>
                <div class="clr-col-1">
                    <clr-icon shape="times" style="color:red"></clr-icon>
                </div>
            </div>
            <div class="clr-row">
                <div style="width: 100%" class="clr-col-1">
                    <input type="checkbox" clrCheckbox />
                </div>
                <div class="clr-col-9">
                    Flooded: One year later, assessing what was lost and what was found
                    when a ravaging rain swept through metro Detroit
                </div>
                <div class="clr-col-1">
                    <clr-icon shape="pencil" class="is-solid" style="color: hsl(282, 43%, 54%)"></clr-icon>
                </div>
                <div class="clr-col-1">
                    <clr-icon shape="times" style="color:red"></clr-icon>
                </div>
            </div>
            <div class="clr-row">
                <div style="width: 100%" class="clr-col-1">
                    <input type="checkbox" clrCheckbox />
                </div>
                <div class="clr-col-9">
                    Create 4 invisible User Experiences you Never Knew About
                </div>
                <div class="clr-col-1">
                    <clr-icon shape="pencil" class="is-solid" style="color: hsl(282, 43%, 54%)"></clr-icon>
                </div>
                <div class="clr-col-1">
                    <clr-icon shape="times" style="color:red"></clr-icon>
                </div>
            </div>

        </div>
    
    </div>

</div>