.graph-icon {
  height: 20vh;
  width: 20vw;
  background-color: rgb(55, 158, 72);
  border-radius: 0.15rem;
  margin-top: -10px;
  margin-left: 20px;
  margin-bottom: 30px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  font-size: 24px;
  border-bottom: none;
  padding-bottom: 5px;
}

.card-title {
  opacity: 0.8;
  font-size: 14px;
}

.card-footer {
  opacity: 0.8;
}
