

<div class="card">
    <div class="card-header">
     Employees Stats
     <p style="color:white; margin-left:0">New employees on 15th September, 2016</p>
    </div>

    

        <div class="card-block" >

            <div style="color:rgb(255, 147, 6)" class="clr-row">
                <div class="clr-col-2">
                    ID
                </div>
                <div class="clr-col-4">
                    Name
                </div>
                <div class="clr-col-3">
                    Salary
                </div>
                <div class="clr-col-3">
                    Country
                </div>
            </div>
            <div *ngFor="let employee of employeeCardInfo; index as i"
                    [ngStyle]="{'border-bottom': (i==employeeCardInfo.length-1? 'none' : '1px solid lightgray')}">
                <div class="clr-row" >
                    <div class="clr-col-2">
                        {{ employee.id }}
                    </div>
                    <div class="clr-col-4">
                        {{ employee.name }}
                    </div>
                    <div class="clr-col-3">
                         {{ employee.salary | currency : 'USD' : 'symbol' : '1.0-0'}}
                    </div>
                    <div class="clr-col-3">
                        {{ employee.location }}
                    </div>
                </div>
            </div>
            
            

        </div>

    

</div>
