<div class="clr-row" id="row_1">
    <div style="width: 100%" class="clr-col-lg-3 clr-col-md-6 clr-col-sm-6">
        <app-used-space></app-used-space>
    </div>
    <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-6">
        <app-revenue></app-revenue>
    </div>
    <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-6">
        <app-github></app-github>
    </div>
    <div class="clr-col-lg-3 clr-col-md-6 clr-col-sm-6">
        <app-twitter></app-twitter>
    </div>

</div>

<div class="clr-row">
    <div style="width: 100%" class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12">
        <app-daily-sales></app-daily-sales>
    </div>
    <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12">
        <app-email-subscriptions></app-email-subscriptions>
    </div>
    <div class="clr-col-lg-4 clr-col-md-12 clr-col-sm-12">
        <app-completed-tasks></app-completed-tasks>
    </div>


</div>

<div class="clr-row">
    <div style="width: 100%" class="clr-col-6 clr-col-md-12 clr-col-sm-12">
        <app-task-list></app-task-list>
    </div>
    <div class="clr-col-6 clr-col-md-12 clr-col-sm-12">
        <app-employee-stats></app-employee-stats>
    </div>


</div>